
@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>
<form action="Register" method="post">
    <input type="text" name="model.Login" placeholder="Login" />
    <br>
    <input type="password" name="model.Password" placeholder="Password" />
    <br>
    <input type="password" name="model.Password" placeholder="ConfirmPassword" />
    <br>
    <div>
        <input type="submit" value="Войти" />
    </div>
</form>
