
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>
<form action="CreateNote" method="post">
    <input type="text" name="name" placeholder="Note name" />
    <br>
    <div>
        <textarea name="text" cols="60" placeholder="Text" style="height: 200px;"></textarea>
        <div class="comments__rules alert alert-warning">
        </div>
        <input type="submit" value="Save" />
    </div>
</form>

