
@{
    ViewData["Title"] = "Note";
}

<h2>Note</h2>

<h3>@ViewData["name"]</h3>
<form>
    <br>
    <div>
        <textarea name="text" cols="60" placeholder="Text" readonly style="height: 200px;">@ViewData["text"]
        </textarea>
        <div class="comments__rules alert alert-warning"></div>
    </div>
    <button type="submit" formmethod="post" formaction="Edit?name=@ViewData["name"]">Edit</button>
    <button type="submit" formmethod="post" formaction="Delete?name=@ViewData["name"]">Delete</button>
    <button type="submit" formmethod="post" formaction="GetFile?name=@ViewData["name"]">Download</button>
</form>
