
@{
    ViewData["Title"] = "AddParticipant";
}

@model Entities.Participant
<h2>AddParticipant</h2>


<form asp-antiforgery="true" asp-action="AddParticipant" asp-controller="Event">
    <div>
        <div>
            <input type="hidden" name="event_id" value="@ViewData["id"]" />
        </div>
        <div class="validation" asp-validation-summary="ModelOnly"></div>

        <div>
            <label>Имя спикера </label><br />
            <input type="text" asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </div>
        <div>
            <label>Фамилия спикера</label><br />
            <input type="text" asp-for="Surname" />
            <span asp-validation-for="Surname"></span>
        </div>

        <div>
            <label>Тема рассказа</label><br />
            <textarea type="text" asp-for="Description" /></textarea>
            <span asp-validation-for="Description"></span>
        </div>
        <div>
            <label>Начало </label><br />
            <input type="datetime-local" asp-for="Start" />
            <span asp-validation-for="Start"></span>
        </div>
        <div>
            <label>Конец </label><br />
            <input type="datetime-local" asp-for="End" />
            <span asp-validation-for="End"></span>
        </div>

        <div>
            <input type="submit" value="Save" />
        </div>

    </div>
</form>


@section scripts{
   


        <environment names="Development">
            <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"
                asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"
                asp-fallback-src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive">
        </script>
    </environment>
}




